{% set healthy_routes = [] %}
{# the following FOR block fills in the healthy_routes list #}
{% for route in healthy['results'] %}
        {%- if route.stdout_lines is defined and route.stdout_lines[-1] == "alive" %}
                {{- healthy_routes.append(route.item.next_hop) }}
{#- below are are going to add routes, we did not check with our monitoring tool -#}
        {% elif route.item.check_healthy == false -%}
                {{ healthy_routes.append(route.item.next_hop) -}}
        {% endif %}
{% endfor %}
frr defaults datacenter
hostname sw2
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if healthy_routes|length > 0 -%}
{%      for vrf in routes|unique(attribute='vrf')|sort(attribute='vrf') %}
vrf {{ vrf.vrf }}
{%          for next_hop in routes|sort(attribute='next_hop')|sort(attribute='dest')|selectattr("vrf", "equalto", vrf.vrf) %}
{%              if next_hop.next_hop in healthy_routes %}
{#- the following line bellow checks whether ipv4 or ipv6 -#}
{%              if next_hop.dest|ipv4 %}{% set ip = "ip" %}{% else %}{% set ip = "ipv6" %}{% endif %}
 {{ip}} route {{ next_hop.dest }} {{ next_hop.next_hop }}
{%-                 if next_hop.nexthop_vrf != "" %} nexthop-vrf {{ next_hop.nexthop_vrf }}
{%                  else %}
{#  bellow we are going to add a new line if there is no nexthop-vrf #}
{%                  endif %}
{%              endif %}
{%          endfor %}
 exit-vrf
!
{%      endfor %}
{% endif %}
line vty
!
